<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ProjetWeb1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Serv1</display-name>
    <servlet-name>Serv1</servlet-name>
    <servlet-class>Controler.Serv1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv1</servlet-name>
    <url-pattern>/Serv1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userServelet</display-name>
    <servlet-name>userServelet</servlet-name>
    <servlet-class>Controler.userServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServelet</servlet-name>
    <url-pattern>/userServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productServelet</display-name>
    <servlet-name>productServelet</servlet-name>
    <servlet-class>Controler.productServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productServelet</servlet-name>
    <url-pattern>/productServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServelet</display-name>
    <servlet-name>loginServelet</servlet-name>
    <servlet-class>Controler.loginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServelet</servlet-name>
    <url-pattern>/loginServelet</url-pattern>
  </servlet-mapping>
</web-app>